<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Chat App</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body class="dark-mode">
    <header>

    </header>
    <main class="container">
        <div class="form-container">
            <form action="/users" method="post" id="signup-form">
                <h1>Sign Up</h1>
                <input type="text" name="username" id="username" placeholder="Enter a username" required autocomplete="none">
                <input type="email" name="email" id="email" placeholder="Enter an email" required autocomplete="none">
                <input type="password" name="password" id="password" placeholder="Enter a password" required autocomplete="none">
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm password" required autocomplete="none">
                <button type="submit" id="signup-btn">Sign Up</button>
            </form>
        </div>
    </main>
</body>
</html>