body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.cursor-loading {
    cursor: progress;
}

.dark-mode {
    background-color: #000;
    color: white;
}

nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    display: flex;
    align-items: center;
    height: 54px;
    background-color: #333;
}

nav > h1 {
    margin-left: 10px;
}

.nav-element {
    margin: 0 14px;
    text-decoration: none;
    color: inherit;
}

.flex-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    padding-top: 54px;
}

section {
    margin-top: 20px;
    width: 80%;
}

span.code {
    font-family: 'Courier New', Courier, monospace;
}

section > :is(h1, h2) {
    margin-bottom: 10px;
}

section > h2 {
    margin-top: 15px;
}

.form-container {
    display: flex;
}

#form-response {
    margin-left: 40px;
    height: 370px;
    width: 350px;
}

#upper {
    background-color: #040229;
    border-radius: 8px 8px 0 0;
    height: 60%;
}

#lower {
    background-color: #555;
    border-radius: 0 0 8px 8px;
    height: 40%;
}

#lower > ul {
    padding: 10px 12px;
}

#lower > ul > li {
    font-size: 14px;
    margin: 6px 0 0 20px;
}

#upper > h3 {
    padding: 10px 12px;
}

#status, #response {
    padding: 0 12px;
}

#status {
    font-size: 16px;
    margin-bottom: 6px;
}

.key {
    color: #0077b6;
}

form > input, #signup-btn, #form-alert {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 230px;
    padding: 4px 8px;
    border-radius: 8px;
}

form > h1 {
    top: 30px;
    position: absolute;
    text-align: center;
    width: 100%;
}

#form-alert {
    top: 80px;
    padding: 0;
    font-size: 15px;
    text-align: center;
}

#signup-form {
    position: relative;
    height: 370px;
    width: 350px;
    background-color: #444444;
    border-radius: 8px;
}

#signup-form > [name="username"] {
    bottom: 220px;
}

#signup-form > [name="email"] {
    bottom: 180px;
}

#signup-form > [name="password"] {
    bottom: 140px;
}

#signup-form > [name="confirmPassword"] {
    bottom: 100px;
}

#signup-btn {
    height: 30px;
    bottom: 30px;
    cursor: pointer;
}

span.endpoint {
    display: block;
} 

table {
    width: 100%;
}

th {
    text-align: left;
}

th, td {
    border: 1px solid #ddd;
}

:is(#http-responses, .endpoints-table) th:first-child, tr:first-child {
    width: 85px;
}

#users th:nth-child(2), td:nth-child(2) {
    width: 400px;
}

.endpoints-table td:nth-child(2) {
    font-family: 'Courier New', Courier, monospace; 
    font-size: 14px;
}

tr > :is(td, th) {
    padding: 6px 8px;
}