body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

.dark-mode {
    background-color: #000;
    color: white;
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    height: 54px;
    background-color: #333;
}

nav > h1 {
    margin-left: 10px;
}

.nav-element {
    margin: 0 14px;
    text-decoration: none;
    color: inherit;
}

.flex-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    padding-top: 54px;
}

section {
    margin-top: 20px;
    width: 80%;
}

.form-container {
    display: block;
    border-radius: 8px;
    background-color: #444444;
    height: 370px;
    width: 350px;
}

form > input, #signup-btn {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 230px;
    padding: 4px 8px;
    border-radius: 8px;
}

form > h1 {
    top: 30px;
    position: absolute;
    margin: 0;
    text-align: center;
    width: 100%;
}

#signup-form {
    position: relative;
    width: inherit;
    height: inherit;
}

#signup-form > [name="username"] {
    bottom: 220px;
}

#signup-form > [name="email"] {
    bottom: 180px;
}

#signup-form > [name="password"] {
    bottom: 140px;
}

#signup-form > [name="confirmPassword"] {
    bottom: 100px;
}

#signup-btn {
    height: 30px;
    bottom: 30px;
    cursor: pointer;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

th > h3 {
    margin: 0;
}

#users th:first-child, tr:first-child {
    width: 85px;
}

#users th:nth-child(2), td:nth-child(2) {
    width: 360px;
}

#users td {
    margin: auto;
}

#users td:nth-child(2) {
    font-family: 'Courier New', Courier, monospace; 
    font-size: 14px;
}

#users tr {
    border-bottom: 1px solid #ddd;
}

#users tr > td {
    padding: 8px 0;
}